<!-- Hours -->
<div class="flex flex-row gap-4">
  <div class="relative w-24">
    <app-numbers-bar min="0" max="2" [value]="currentHours()[0]" />
  </div>
  <div class="relative w-24">
    <app-numbers-bar min="0" max="9" [value]="currentHours()[1]" />
  </div>
</div>

<!-- Minutes -->
<div class="flex flex-row gap-4">
  <div class="relative w-24">
    <app-numbers-bar min="0" max="5" [value]="currentMinutes()[0]" />
  </div>
  <div class="relative w-24">
    <app-numbers-bar min="0" max="9" [value]="currentMinutes()[1]" />
  </div>
</div>

<!-- Seconds -->
<div class="flex flex-row gap-4">
  <div class="relative w-24">
    <app-numbers-bar min="0" max="5" [value]="currentSeconds()[0]" />
  </div>
  <div class="relative w-24">
    <app-numbers-bar min="0" max="9" [value]="currentSeconds()[1]" />
  </div>
</div>
