<div class="px-4">
  <div class="numbers-bar-shadow rounded-2xl bg-neutral-500">
    @for (number of numbersArray(); track number) {
      <div class="flex h-16 w-16 items-center justify-center p-4 select-none">
        <span
          class="z-50 text-center"
          [class]="number === value() ? 'text-2xl text-white' : 'text-lg text-neutral-300'"
        >
          {{ number }}
        </span>
      </div>
    }
  </div>
</div>

<div class="marker-shadow fixed top-[calc(50%-48px)] z-40 h-24 w-24 rounded-full bg-neutral-800/20"></div>
